.additional-goods {
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  padding-bottom: 86px/1440px * 100vw;

  @media (max-width: $width-tablet+px) {
    padding-top: 1px;
    padding-bottom: 76px/768px * 100vw;
  }

  @media (max-width: $width-mobile+px) {
    padding-bottom: 35px;
  }
}

.additional-goods__inner-title {
  margin-bottom: 80px;

  @media (max-width: $width-desktop+px) {
    margin-top: 0;
    margin-bottom: 79px/1440px * 100vw;
  }

  @media (max-width: $width-tablet+px) {
    margin-bottom: 80px/768px * 100vw;
    margin-left: 37px;
  }

  @media (max-width: $width-mobile+px) {
    margin-left: 0;
    margin-bottom: 34px;
  }
}

.additional-goods__body {
  box-sizing: border-box;
  display: flex;
  gap: 81px/1440px * 100vw;

  @media (max-width: $width-tablet+px) {
    flex-direction: column;
    gap: 69px/1440px * 100vw;
  }
}

.additional-goods__items {
  box-sizing: border-box;
  flex: 1 1 auto;

  @media (max-width: $width-tablet+px) {
    margin-bottom: 32px;
  }

  @media (max-width: $width-mobile+px) {
    margin-bottom: 24px;
  }
}

.additional-goods__item {
  box-sizing: border-box;
  margin: 0;
  height: 72px;
  display: flex;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-left: none;
  border-right: none;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
    height: 73px;

    @media (max-width: $width-tablet+px) {
      height: 139px;
    }

    @media (max-width: $width-mobile+px) {
      height: auto;
    }
  }

  @media (max-width: $width-tablet+px) {
    height: 139px;
    margin: 0;
    padding: 22px 38px 28px 36px;
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  @media (max-width: $width-mobile+px) {
    height: auto;
    border-left: none;
    border-right: none;
    padding: 13px 0 17px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 14px;
  }
}

.additional-goods__title {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  text-transform: uppercase;
  color: #222222;
  flex: 0 1 244px;
  margin: 0;
  margin-right: 30px;

  @media (max-width: $width-tablet+px) {
    text-align-last: left;
    flex: 1 1 auto;
    margin-right: 0;
  }

  @media (max-width: $width-mobile+px) {
    flex: 1 1 100%;
    font-size: 16px;
    line-height: 16px;
  }
}

.additional-goods__packaging {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $color_tundora;
  flex: 0 1 244px;
  padding-left: 50px;
  margin: 0 0 0 50px;
  padding-top: 7px;

  @media (max-width: $width-tablet+px) {
    text-align: right;
    flex: 0 1 244px;
    margin-right: 0;
    padding: 7px 0 0;
  }

  @media (max-width: $width-mobile+px) {
    flex: auto;
    font-size: 14px;
    line-height: 14px;
    margin-right: 0;
    padding: 0;
    text-align: left;
  }
}

.additional-goods__price {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: $color_tundora;
  flex: 1 1 auto;
  margin: 0;
  margin-right: 10px;
  padding-top: 7px;

  @media (max-width: $width-tablet+px) {
    flex: 0 1 94px;
    text-align: right;
    margin: 0;
  }

  @media (max-width: $width-mobile+px) {
    font-size: 14px;
    line-height: 14px;
    padding: 0;
  }
}

.additional-goods__btn {
  width: 244px;
  height: 40px;
  margin-right: -1px;

  @media (max-width: $width-tablet+px) {
    width: 100%;
    margin-top: 19px;
  }

  @media (max-width: $width-mobile+px) {
    margin: 0;
  }
}
