.footer {
  font-family: "Oswald", "Arial", sans-serif;
  background: $color_concrete;
}

.footer__container {
  box-sizing: border-box;
  display: grid;
  height: 150px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $width-tablet+px) {
    height: 144px;
  }

  @media (max-width: $width-mobile+px) {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(95px, auto) 63px 78px;
  }
}

.footer__logo {
  box-sizing: border-box;
  display: inline-block;
  width: 128px;
  height: 24px;

  @media (max-width: $width-mobile+px) {
    margin: 38px auto 32px;
  }

  @media (min-width: $width-mobile+px) {
    &:hover {
      fill: rgba($color: #000000, $alpha: 0.8);
    }

    &:active {
      fill: rgba($color: #000000, $alpha: 0.6);
    }
  }
}

.footer__social {
  box-sizing: border-box;
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $width-mobile+px) {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
  }
}

.footer__social-item {
  list-style: none;
  margin: 8px 1.5px 6px;

  @media (min-width: $width-tablet+px) {
    margin: 2px 14px 4px;
  }
}

.footer__social-link {
  fill: $color_doveGray;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;

  @media (min-width: $width-mobile+px) {
    &:hover {
      fill: #68b738;
    }

    &:active {
      fill: rgba($color: #68b738, $alpha: 0.6);
    }
  }

  @media (min-width: $width-tablet+px) {
    width: auto;
    height: 28px;
  }
}

.footer__social-link--vk {
  @media (min-width: $width-mobile+px) {
    svg {
      width: 29px;
      height: 17px;
    }
  }
}

.footer__social-link--inst {
  @media (min-width: $width-mobile+px) {
    svg {
      width: 23px;
      height: 23px;
    }
  }
}

.footer__social-link--fb {
  @media (min-width: $width-mobile+px) {
    svg {
      width: 13px;
      height: 27px;
    }
  }
}

.footer__copy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;

  @media (max-width: $width-mobile+px) {
    justify-content: center;
  }
}

.footer__text {
  font-family: "Arial", sans-serif;
  margin: 0;
  margin-right: 24px;
  font-size: 16px;
  line-height: 18px;
}

.footer__academy-logo {
  color: $color_tundora;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  fill: $color_doveGray;
  text-decoration: none;

  @media (min-width: $width-mobile+px) {
    &:hover {
      fill: #68b738;
    }
  }

  &:active {
    color: #b3b3b3;
    fill: rgba($color: #68b738, $alpha: 0.6);
  }
}
