.nutrition-form {
   // margin: 0;
   box-sizing: border-box;
   font-family: "Oswald", "Arial", sans-serif;
   padding-bottom: 82px;
   @media (max-width: $width-tablet+px) {
      padding-bottom: 72px;
   }
   @media (max-width: $width-mobile+px) {
      padding-top: 27px;
      margin-bottom: 32px;
   }
}

.nutrition-form__form {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.nutrition-form__title {
   font-weight: normal;
   color: $color_black;
   font-size: 60px;
   line-height: 60px;
   flex: 0 1 100%;
   margin: 73px auto 56px;
   @media (max-width: $width-tablet+px) {
      margin: 64px auto 54px;
   }
   @media (max-width: $width-mobile+px) {
      font-size: 36px;
      line-height: 36px;
      margin: 27px auto 37px;
   }
}

.nutrition-form__text {
   margin: 0 auto 66px;
   color: $color_black;
   text-transform: uppercase;
   flex: 0 1 100%;
   font-size: 20px;
   line-height: 30px;
   @media (max-width: $width-tablet+px) {
      margin: 0 40px 66px;
   }
   @media (max-width: $width-mobile+px) {
      font-size: 14px;
      line-height: 18px;
      margin: 0 auto 39px;
   }
}

.nutrition-form__content {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   column-gap: 80px;
   @media (max-width: 1440px) {
      column-gap: 80px/1440px * 100vw;
   }
   @media (max-width: $width-tablet+px) {
      column-gap: 60px;
      grid-template-columns: 1fr;
      padding-left: 40px/768px * 100vw;
      padding-right: 40px/768px * 100vw;
   }
   @media (max-width: $width-mobile+px) {
      padding: 0;
   }
}

.nutrition-form__cat-value {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   display: flex;
   flex-direction: column;
   gap: 20px;
   @media (max-width: 931px) {
      width: auto;
      margin-bottom: 72px;
   }
   @media (max-width: $width-mobile+px) {
      margin: 0;
      margin-bottom: 24px;
      gap: 14px;
   }
}

.nutrition-form__program-purpose {
   box-sizing: border-box;
   margin: 0;
   padding: 25px 28px;
   border: 1px solid $color_mercury;
   display: flex;
   flex-direction: column;
   gap: 13px;
   margin-bottom: 69px;
   @media (max-width: 931px) {
      width: auto;
   }
   @media (max-width: $width-tablet+px) {
      margin-bottom: 65px;
   }
   @media (max-width: $width-mobile+px) {
      border-left: none;
      border-right: none;
      padding: 22px 20px;
      margin: 0px -20px 26px;
   }
}

.nutrition-form__label {
   cursor: pointer;
   font-size: 20px;
   line-height: 30px;
   text-transform: uppercase;
   &--radio {
      padding-left: 60px;
      line-height: 40px;
      position: relative;
      cursor: pointer;
      &:after {
         box-sizing: border-box;
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         border: 1px solid #cdcdcd;
         @media (max-width: $width-mobile+px) {
            width: 30px;
            height: 30px;
         }
      }
   }
   &--flex {
      display: flex;
      align-items: center;
      gap: 15px;
   }
   &--checkbox {
      padding-left: 59px;
      position: relative;
      line-height: 40px;
      cursor: pointer;
      &:after {
         box-sizing: border-box;
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 40px;
         height: 40px;
         border: 1px solid #cdcdcd;
         @media (max-width: $width-mobile+px) {
            width: 30px;
            height: 30px;
         }
      }
      @media (max-width: $width-tablet+px) {
         flex: 0 1 25%;
      }
      @media (max-width: $width-mobile+px) {
         flex: 1 1 100%;
      }
   }
   @media (max-width: $width-mobile+px) {
      font-size: 16px;
      line-height: 30px;
   }
}

.nutrition-form__input {
   cursor: pointer;
   padding-left: 15px;
   font-family: "Oswald", "Arial", sans-serif;
   font-size: 20px;
   line-height: 30px;
   text-transform: uppercase;
   color: $color_tundora;
   border: 1px solid $color_mercury;
   height: 52px;
   box-sizing: border-box;
   &--flex {
      flex: 1 1 auto;
   }
   @media (max-width: $width-mobile+px) {
      font-size: 16px;
      line-height: 18px;
      height: 45px;
   }
}

.nutrition-form__input-radio {
   margin: 0;
   padding: 0;
   display: none;
}

.nutrition-form__input-checkbox {
   margin: 0;
   padding: 0;
   display: none;
}

.nutrition-form__checkboxs-body {
   box-sizing: border-box;
   border: none;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 0;
   margin: 0 auto 61px;
   @media (max-width: 822px) {
      margin-bottom: 54px;
      row-gap: 32px;
   }
   @media (max-width: $width-mobile+px) {
      margin-bottom: 34px;
      row-gap: 12px;
   }
}

.nutrition-form__client-contacts {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   flex: 0 1 100%;
   margin: 0 auto 69px;
   display: flex;
   gap: 80px;
   @media (max-width: $width-tablet+px) {
      padding: 0 40px/768px * 100vw;
      margin-bottom: 65px;
      flex-wrap: wrap;
      gap: 20px;
   }
   @media (max-width: $width-mobile+px) {
      margin-bottom: 27px;
      gap: 15px;
      padding: 0;
   }
   .nutrition-form__label {
      flex: 0 1 50%;
      display: flex;
      align-items: center;
      gap: 15px;
      @media (max-width: $width-tablet+px) {
         flex: 1 1 100%;
      }
   }
   .nutrition-form__input {
      flex: 1 1 auto;
   }
}

.nutrition-form__inner-title {
   flex: 1 1 100%;
   margin: 0px auto 76px;
   @media (max-width: $width-tablet+px) {
      margin: 0px 40px 76px;
   }
   @media (max-width: $width-mobile+px) {
      margin: 0 auto 34px;
   }
}

.nutrition-form__comment {
   box-sizing: border-box;
   cursor: pointer;
   font-family: "Oswald", "Arial", sans-serif;
   text-transform: uppercase;
   color: $color_tundora;
   font-size: 20px;
   line-height: 30px;
   width: 100%;
   resize: none;
   height: 150px;
   padding: 10px 19px;
   border: 1px solid $color_mercury;
   margin-bottom: 67px;
   @media (max-width: $width-tablet+px) {
      margin-bottom: 65px;
   }
   @media (max-width: $width-mobile+px) {
      padding: 13px 15px;
      margin-bottom: 27px;
      font-size: 16px;
      line-height: 18px;
   }
}

.nutrition-form__btn {
   display: inline-block;
   font-family: "Oswald", "Arial", sans-serif;
   width: 568px;
   height: 52px;
   font-size: 20px;
   @media (max-width: 1440px) {
      width: 568px/1440px * 100vw;
   }
   @media (max-width: $width-tablet+px) {
      width: 280px;
   }
   @media (max-width: 600px) {
      display: block;
      margin: 0 auto 21px;
      height: 40px;
      flex: 1 1 100%;
   }
}

.nutrition-form__req-text {
   display: inline-block;
   font-family: Arial;
   font-size: 16px;
   line-height: 16px;
   color: $color_black;
   margin-left: 80px;
   @media (max-width: 1440px) {
      margin-left: 80px/1440px * 100vw;
   }
   @media (max-width: $width-tablet+px) {
      margin-left: 60px/768px * 100vw;
   }
   @media (max-width: 600px) {
      display: block;
      font-size: 14px;
      margin: 0 auto;
      width: max-content;
   }
}

.nutrition-form__content-bottom {
   @media (max-width: $width-tablet+px) {
      padding-left: 40px;
      padding-right: 40px;
   }
   .nutrition-form__inner-title {
      margin-left: 0;
      margin-right: 0;
   }
   @media (max-width: $width-mobile+px) {
      padding: 0;
   }
}
