.weight-loss-photos__photo--before {
  height: 536px;
  width: 100%;
  margin-bottom: 34px;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 516px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
  }

  @media (max-width: $width-tablet+px) {
    min-height: 232px;
    height: 517px/768px * 100vw;
    margin: 0 0 31px 0;
    width: 100%;

    img {
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.weight-loss-photos__photo--after {
  display: none;
}

.weight-loss-photos__bottom {
  font-family: "Oswald", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
  width: 571px;
  margin-left: auto;

  @media (max-width: $width-tablet+px) {
    margin: 0 auto;
    width: 100%;
    max-width: 571px;
  }

  @media (max-width: $width-mobile+px) {
    margin-left: 2px;
    width: 100%;
    justify-content: center;
  }
}

.weight-loss-photos__btn {
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  width: auto;
  height: 32px;
  color: $color_black;
  border: none;
  background: transparent;
  border-bottom: 1px dotted #b8b8b8;

  @media (max-width: $width-mobile+px) {
    font-size: 16px;
    line-height: 20px;
  }

  &:hover {
    border-style: solid;
  }

  &:active {
    border: 0;
  }
}

.weight-loss-photos__line {
  margin: 0 11px 0 15px;
  box-sizing: border-box;
  width: 84px;
  height: 6px;
  border-radius: 6px;
  background: $color_white;
  position: relative;
  border: 1px solid #cdcdcd;

  @media (min-width: $width-mobile+px) {
    margin: 0 11px 0 14px;
    background: #dcdcdc;
    width: 100%;
    max-width: 428px;
  }

  @media (max-width: $width-mobile+px) {
    height: 14px;
    border: 1px solid #cdcdcd;
  }
}

.weight-loss-photos__toggle-btn {
  font-size: 0;
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 6px;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  border: 0;
  border-radius: 6px;
  background-color: $color_apple;

  @media (min-width: $width-mobile+px) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color_white;
    border: 1px solid #cdcdcd;
    box-shadow: 0 1px 3px rgba($color: #000000, $alpha: 0.16);

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border: 1px solid #68b738;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }

  &::before {
    @media (min-width: $width-mobile+px) {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color_apple;
      z-index: 2;
    }
  }
}
