.weight-loss-photos__bottom {
   font-family: "Oswald", "Arial", sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2px;
}

.weight-loss-photos__btn {
   cursor: pointer;
   text-transform: uppercase;
   padding: 0;
   display: inline-block;
   font-family: "Oswald";
   text-transform: uppercase;
   font-size: 20px;
   line-height: 30px;
   width: 70px;
   height: 40px;
   color: $color_black;
   border: none;
   background: transparent;
   @media (max-width: $width-mobile+px) {
      font-size: 16px;
      line-height: 20px;
   }
}

.weight-loss-photos__line {
   width: 84px;
   height: 14px;
   border-radius: 6px;
   border: 1px solid $color_doveGray;
}
