.weight-loss-description {
   font-family: "Oswald", "Arial", sans-serif;
   display: flex;
   justify-content: space-between;
   margin-bottom: 60px;
   @media (min-width: $width-mobile+px) and (max-width: $width-tablet+px) {
      flex: 0 1 50%;
      margin-bottom: 59px;
   }
   @media (max-width: $width-mobile+px) {
      margin-bottom: 34px;
   }
}

.weight-loss-description__content {
   box-sizing: border-box;
   flex: 0 1 124px;
   height: 54px;
   text-align: center;
   border: 1px solid #cdcdcd;
   border-radius: 3px;
   position: relative;
   z-index: 1;
}

.weight-loss-description__num {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-size: 30px;
   line-height: 37px;
   text-transform: uppercase;
   @media (max-width: $width-mobile+px) {
      font-size: 24px;
      line-height: 54px;
   }
}

.weight-loss-description__text {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
   color: $color_tundora;
   display: inline-block;
   width: 67%;
   position: absolute;
   bottom: -17px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
   background: #eaeaea;
}
