.footer {
   background: $color_concrete;
}
.footer__container {
   display: grid;
   height: 150px;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   @media (max-width: $md3+px) {
   }
   @media (max-width: $md4+px) {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 95px 63px 78px;
   }
}
.footer__logo {
   display: inline-block;
   width: 128px;
   height: 24px;
   margin: 0 auto;
}
.footer__social {
   height: 100%;
   display: flex;
   align-items: center;
   @media (max-width: $md4+px) {
      border-bottom: 1px solid #d9d9d9;
      border-top: 1px solid #d9d9d9;
   }
}
.footer__copy {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.footer__text {
   font-family: Arial;
   color: $color_tundora;
   font-size: 16px;
   line-height: 18px;
}
.footer__academy-logo {
   width: 27px;
   height: 34px;
}
