//стили для main class="main"
.visually-hidden {
   visibility: hidden;
   display: none;
}
.container {
   @media (max-width: 320px) {
      padding-left: 20px;
      padding-right: 20px;
      max-width: 320px;
   }
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   background: $color_2;
   color: $color_1;
   text-transform: uppercase;
}
