.site-list {
   display: flex;
   gap: 32px;
   @media (max-width: $md4+px) {
      flex-direction: column;
      gap: 0;
   }
}
.site-list__item {
   list-style: none;
   &--active {
   }
}
.site-list__link {
   position: relative;
   font-weight: normal;
   font-size: 18px;
   line-height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   text-transform: uppercase;
   color: $color_white;
   @media (max-width: $md3+px) {
      color: $color_black;
   }
   @media (max-width: $md4+px) {
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      padding: 22px 0 24px;
      border-top: 1px solid #e6e6e6;
   }
   @media (min-width: $md4+px) {
      &--active::after {
         content: "";
         height: 2px;
         width: 100%;
         position: absolute;
         bottom: -8px;
         left: 0;
         right: 0;
         background: $color_apple;
         @media (min-width:$md3+px){
            background: $color_white;
         }
      }
   }
   &--black{
      color: $color_black;
   }
}
