$color_white: #fff;
$color_apple: #68b738;
$color_black: #000000;
$color_tundora: #444444;
$color_doveGray: #666666;
$color_concrete: #f2f2f2;
$color_222222: #222222; //а так интересно можно?)
$color_mercury: #e7e7e7;

$max-width: 1440;
$width-tablet: 768.98;
$width-mobile: 375.98;
