.weight-loss {
   background: #eaeaea;
   padding: 27px 0 25px;
}
.weight-loss__body {
}
.weight-loss__title {
   font-weight: normal;
   font-size: 36px;
   line-height: 40px;
   color: $color_black;
   margin-bottom: 33px;
}
.weight-loss__text {
   font-family: Arial;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   color: $color_tundora;
   margin-bottom: 26px;
}
.weight-loss__description {
}
.weight-loss__summury-cost {
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   margin-bottom: 42px;
}
.weight-loss__photos {
   margin-bottom: 23px;
}
